notebooks/PyTorch_CNN/data/cifar-10-python.tar.gz
notebooks/PyTorch_CNN/data/cifar-10-batches-py/batches.meta
notebooks/PyTorch_CNN/data/cifar-10-batches-py/data_batch_1
notebooks/PyTorch_CNN/data/cifar-10-batches-py/data_batch_2
notebooks/PyTorch_CNN/data/cifar-10-batches-py/data_batch_3
notebooks/PyTorch_CNN/data/cifar-10-batches-py/data_batch_4
notebooks/PyTorch_CNN/data/cifar-10-batches-py/data_batch_5
notebooks/PyTorch_CNN/data/cifar-10-batches-py/readme.html
notebooks/PyTorch_CNN/data/cifar-10-batches-py/test_batch
